
.ingredient {
  text-align: center;
  position: relative;
  cursor: pointer;
  
}

.ingredient img {
  max-width: 100%;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price svg {
  margin-left: calc(var(--offset-base-size) * 2);
}